body {
    height: 40px;
    background-image: url("https://st.depositphotos.com/1074442/4306/i/950/depositphotos_43061653-stock-photo-accounting.jpg");
    background-repeat:no-repeat;
    
    background-size: 100rem;
  }